allow hal_bluetooth_default efs_file:dir search;
allow hal_bluetooth_default firmware_file:dir { search open read };
allow hal_bluetooth_default firmware_file:file { open read };
allow hal_bluetooth_default device:chr_file { open write };
allow hal_bluetooth_default proc:file { open write };
