set_prop(mediaserver, system_prop)
get_prop(mediaserver, exported_camera_prop)
allow mediaserver system_data_root_file:sock_file write;
allow mediaserver vendor_file:file execmod;
