allow mm-qcamerad sysfs:file { getattr open read write };
allow mm-qcamerad system_data_root_file:sock_file { create unlink };
allow mm-qcamerad vendor_file:file execmod;
