binder_call(system_app, hal_power_default)
binder_call(system_app, wificond)

allow system_app privapp_data_file:dir search;
allow system_app system_data_file:dir { add_name create };
allow system_app system_data_file:file { create open write };
allow system_app sysfs_zram:dir search;
allow system_app sysfs_zram:file { read open getattr };
allow system_app system_suspend_control_service:service_manager find;

